<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'connexion.css') }}">
</head>
<body>

  <div class="container">
    <h1>Connexion</h1>
    <form method="post" action="connexion" required>
      <div class="form-group">
        <label for="email">E-mail :</label>
        <input type="text" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="mdp">Mot de passe :</label>
        <input type="password" id="mdp" name="mdp" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Connexion">
        <p style="color: red;">{{ erreur }}</p>

      </div>
    </form>
    <p class="signup-redirect">
      Pas encore inscrit ? 
      <a href="/inscription">Inscrivez-vous ici</a>
    </p>
  </div>
</body>
</html>
