<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion Restaurant</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'connexionrestaurant.css') }}">
</head>
<body>

  <div class="container">
    <h1>Connexion</h1>
    <form method="post" action="connexionrestaurant" required>
      <div class="form-group">
        <label for="idresto">Idresto :</label>
        <input type="text" id="idresto" name="idresto" required>
      </div>
      <div class="form-group">
        <label for="mdp">Mot de passe :</label>
        <input type="password" id="mdp" name="mdp" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Connexion">
        <p style="color: red;">{{ erreur }}</p>
      </div>
    </form>
    <p style="text-align: center; margin-top: 20px; font-size: 14px; color: #666;">
      Pas encore inscrit ? 
      <a href="/inscriptionrestaurant" style="color: #ffbb33; text-decoration: none; font-weight: bold;">Inscrivez-vous ici</a>
    </p>
  </div>

</body>
</html>
